@import '../../styles/propertySets.css';
.title {
  @apply --marketplaceH1FontStyles;
  margin-top: 0;
}

.step:last-of-type {
  @media (--viewportMedium) {
    margin-right: 0;
  }
}

.stepTitle {
  margin-top: 18px;
  margin-bottom: 18px;
  @media (--viewportMedium) {
    margin-top: 21px;
    margin-bottom: 18px;
  }
}

.partContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  @media (--viewportMedium) {
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.part {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  @media (--viewportMedium) {
    margin-top: 0;
    width: 30%;
  }
}

.partText {}

.partTitle {
  @apply --marketplaceH2FontStyles;
  margin: 0;
}

.signupSection {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 10px auto;
  align-items: center;
  @media (--viewportMedium) {
    margin-top: 20px;
  }
}

.signupText {
  display: inline-block;
}

.signupButton {
  @apply --marketplaceButtonStyles;
  color: white;
  text-decoration: none !important;
  @media (--viewportMedium) {
    display: block;
    width: 250px;
  }
  border-radius: 50px;
}