@import '../../styles/propertySets.css';
.root {
  display: flex;
  flex-direction: column;
}

.bookingDates {
  flex-shrink: 0;
  margin-bottom: 38px;
  /* Ensure that calendar dropdown gets some stacking context relative to other form items below */
  z-index: 1;
}

.priceBreakdownContainer {
  width: 90%;
  margin: 0 auto 40px auto;
  @media (--viewportMedium) {
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    margin-top: 1px;
  }
}

.priceBreakdownTitle {
  /* Font */
  color: var(--matterColorAnti);
  margin-top: 5px;
  margin-bottom: 14px;
  @media (--viewportMedium) {
    margin-top: 5px;
    margin-bottom: 26px;
  }
}

.receipt {
  flex-shrink: 0;
  margin: 0 0 24px 0;
}

.error {
  color: var(--failColor);
  margin: 0 24px;
  display: inline-block;
}

.spinner {
  margin: 10px auto 10px auto;
}

.sideBarError {
  @apply --marketplaceH4FontStyles;
  color: var(--failColor);
  margin: 0 24px 12px 24px;
  @media (--viewportMedium) {
    margin: 0 0 12px 0;
  }
}

.smallPrint {
  @apply --marketplaceTinyFontStyles;
  color: var(--matterColorAnti);
  text-align: center;
  margin: auto 24px 20px 24px;
  flex-shrink: 0;
  @media (--viewportMedium) {
    margin-top: auto;
    margin-bottom: 20px;
  }
  @media (--viewportLarge) {
    margin-top: 6px;
    margin-bottom: 21px;
  }
}

.submitButtonWrapper {
  margin-top: 10px;
  flex-shrink: 0;
  padding: 0 24px 24px 24px;
  width: 100%;
  @media (--viewportMedium) {
    padding: 0;
    width: 100%;
  }
}

.purchaseButton {
  background-color: var(--marketplaceColor) !important;
  color: var(--matterColorLight) !important;
}

.fieldContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: 90%;
  margin: 0 auto 20px auto;
  justify-content: space-between;
  @media (--viewportMedium) {
    width: 100%;
  }
}

.countryField {
  width: 70%;
}

.quantityField {
  width: 25%;
}

.basePrice {
  font-weight: 550;
  font-size: 22px;
  line-height: 24px;
  margin: 0 auto 15px auto;
  width: 90%;
  @media (--viewportMedium) {
    margin: 15px 0 25px 0;
  }
}

.featuresHeading {
  margin-top: 0;
}