.accordionItem {
    width: 100%;
    border: solid;
    border-radius: 5px;
    border-color: gray;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 24px;
}

.title {
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.1s ease-in;
    font-weight: 550;
    padding: 18px 5px 18px 5px;
    @media (--viewportMedium) {
        padding: 15px;
      }
}

.chevronUp {
    width: 20px;
    height: 20px;
    float: right;
    transition: transform .2s,-webkit-transform .2s;
}
.chevronDown {
    transform: rotate(180deg);
    width: 20px;
    height: 20px;
    float: right;
    transition: transform .2s,-webkit-transform .2s;
}
.panelClosed {
    max-height: 0;
    padding: 0 20px 0 20px;
    transition: .3s;
    overflow: hidden;
}

.panelOpened {
    max-height: 1500px;
    padding: 0 20px 0 20px;
    transition: .2s ease-in;
    overflow: hidden;
}