@import '../../marketplace.css';
.faq {
  width: 90%;
  margin: auto;
  @media (--viewportMedium) {
    margin: 50px auto;
    width: 100vw;
    display: block;
    max-width: 993px;
    padding: 24px;
  }
}

.faqTitle {
  margin-bottom: 50px;
}

.sectionTitle {
  padding-left: 15px;
  border-left: solid 5px;
  border-left-color: var(--marketplaceColor);
}

.accordion {
  width: 100%;
  margin-bottom: 15px;
  @media (--viewportMedium) {
    margin-bottom: 50px;
  }
}

.linkTitle {
  margin-top: 50px;
}

.link {
  margin-bottom: 25px;
}