@import '../../marketplace.css';

.root {
  padding: 24px;
}

.faq {
  margin: 50px auto;
  width: 100vw;
  display: block;
  max-width: 993px;
  padding: 24px;
}

.faqTitle{
  margin-bottom: 50px;
}

.accordian{
}