@import '../../styles/propertySets.css';

.container {
  /* Layout */
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (--viewportMedium) {
    min-height: var(--SearchPage_containerHeight);
    flex-direction: row;
  }
}

.panel {
  margin: 25px;
  @media (--viewportMedium) {
    display: flex;
    flex-direction: column;
    margin: 25px;
  }
}

.stateFilter {
  height: auto;
}

.allButton {
  @apply --marketplaceButtonStyles;
  margin: 15px 0;
}

.mobileButtons {
  margin: 0 auto 20px 20px;
  @media (--viewportMedium) {
    display: none;
  }
}

.eventsGrid {
  width: calc(100% - 60px);
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
   @media (--viewportMedium) {
    min-width: 75%;
    padding: 0 0 0 100px; 
    margin: 25px auto;
  }
}

.eventCardWrapper {
  margin: 0 auto 20px;
  width: 100%;
  @media (--viewportMedium) {
    width: 30%;
    margin: 0 3% 30px 0;
  }
}

.half {
  border: none;
  @media (--viewportMedium) {
    margin-top: 10px;
    width: 20%;
    height: 0;
    border-top-style: solid;
    border-top-color: var(--marketplaceColor);
    border-top-width: 10px;
  }
}

.addEventInfo {
  display: none;
  @media (--viewportMedium) {
    display: initial;
    margin: 20px 0;
  }
}

.filtersButton {
  text-transform: capitalize;
  @apply --marketplaceButtonStylesSecondary;
  @apply --marketplaceSearchFilterLabelFontStyles;
  padding: 9px 16px 10px 16px;
  width: auto;
  height: auto;
  min-height: 0;
  border-radius: 4px;
  margin-bottom: 6px;
  &:focus {
    outline: none;
    background-color: var(--matterColorLight);
    border-color: transparent;
    text-decoration: none;
    box-shadow: var(--boxShadowFilterButton);
  }
}

.filtersButtonSelected {
  text-transform: capitalize;
  @apply --marketplaceButtonStylesSecondary;
  @apply --marketplaceSearchFilterLabelFontStyles;
  padding: 9px 16px 10px 16px;
  width: auto;
  height: auto;
  min-height: 0;
  border-radius: 4px;
  margin-bottom: 6px;
  background-color: var(--marketplaceColor);
  color: white;
  &:focus {
    outline: none;
    background-color: var(--matterColorLight);
    border-color: transparent;
    text-decoration: none;
    box-shadow: var(--boxShadowFilterButton);
  }
}