@import '../../styles/propertySets.css';
.root {
  position: relative;
  width: auto;
  height: auto;
  border: 0;
  padding: 0;
  outline: 0 !important;
}

.card {
  min-width: 325px;
  @media (--viewportSmall) {
    max-width: 325px;
  }
  /* min-width: 768px */
  @media (--viewportMedium) {
    max-width: 500px;
  }
  /* min-width: 1024px */
  @media ( --viewportLarge) {
    max-width: 750px;
  }
  /* min-width: 1128px */
  /* @media (--viewportLargeWithPaddings) {
      max-width: 750px;
    } */
  /* min-width: 1921px */
  /* @media ( --viewportXLarge) {
    max-width: 1000px;
  } */
}

.label {
  min-width: 100px;
}

.cardHasImage, .cardNoImage {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 0;
}

.cardHasImage {
  min-height: 120px;
}

.cardNoImage {
  min-height: 60px;
}

.popupImage {
  flex-shrink: 0;
  margin: auto 25px auto 0;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  @media (--viewportMedium) {
    width: 100px;
    height: 100px;
  }
}

.popupTextContainer {
  display: flex;
  flex-direction: column;
  margin: 3px 5px auto 0;
  overflow-y: auto;
  max-height: 150px;
  @media (--viewportMedium) {
    max-height: 200px;
  }
}

.popupText {
  margin: 20px 0 0 0;
  line-height: 25px;
  font-size: 14px;
}

.labelText {
  margin: 0;
  line-height: 25px;
  font-size: 14px;
}

.popupLink {
  line-height: 25px;
  outline: 0 !important;
}

.topContainer {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.popupTitle {
  font-size: 20px;
  line-height: 25px;
  margin: 0;
}

.popupSubtitle {
  margin: 0;
  line-height: 18px;
  font-size: 16px;
}

.linkIcon {
  height: 25px;
}