@import '../../styles/propertySets.css';

.root {
  /* Layout */
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  /* flex-basis: 100%; */
  /* Remove link's hover effect */
  &:hover {
    text-decoration: none;
  }
}

.link {
    /* Font */
    @apply --marketplaceH4FontStyles;
    color: var(--matterColor);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    -webkit-line-clamp: 1;
    -moz-box-orient: vertical;
    /* fallback option */
    word-break: break-all;
    /* use break-word if available */
    word-break: break-word;
    hyphens: auto;
    /* Remove default margins from font */
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 22px;
  &:hover {
    text-decoration: none;
  }
}

.adLink {
  @apply --marketplaceH4FontStyles;
  color: var(--matterColor);
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  -webkit-line-clamp: 1;
  -moz-box-orient: vertical;
  /* fallback option */
  word-break: break-all;
  /* use break-word if available */
  word-break: break-word;
  /* hyphens: auto; */
  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 22px;
  &:hover {
    text-decoration: none;
  }
}

.threeToTwoWrapper {
  /* Layout */
  display: block;
  width: 100%;
  position: relative;
  transition: var(--transitionStyleButton);
  margin-bottom: 10px;;
  &:hover {
    transform: scale(1.02);
    box-shadow: var(--boxShadowListingCard);
  }
}

/* Firefox doesn't support image aspect ratio inside flexbox */

.aspectWrapper {
  padding-bottom: 66.6667%;
  /* 3:2 Aspect Ratio */
  background: var(--matterColorNegative);
  /* Loading BG color */
}

.rootForImage {
  /* Layout - image will take space defined by aspect ratio wrapper */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: var(--borderRadius);
}

.cardText {
  /* Layout */
  display: flex;
  flex-direction: row;
  padding: 0;
}

.optionalText {

}

.categoryAndTribe {
  text-transform: capitalize;
}

.premiumTag {
  position: absolute;
  top: 10px;
  right: 10px;
  width: auto;
  color: white;
  font-weight: 600;
  background-color: var(--marketplaceColor);
  border-radius: 5px;
  padding: 0 5px 0 5px;
  font-size: 13px;
  line-height: 25px;
}

.adTag {
  position: absolute;
  top: 10px;
  right: 10px;
  width: auto;
  color: white;
  font-weight: 900;
  background-color: #c4a03e;
  border-radius: 5px;
  border: 3px solid white;
  padding: 0 4px 0 4px;
  font-size: 13px;
  line-height: 25px;
}

.nonProfitTag {
  position: absolute;
  top: 10px;
  right: 10px;
  width: auto;
  color: white;
  font-weight: 900;
  background-color: var(--marketplaceColor);
  border-radius: 5px;
  padding: 0 5px 0 5px;
  font-size: 13px;
  line-height: 25px;
}

.verifiedImage {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 33px;
}

.ratings {
  @apply --marketplaceH4FontStyles;
  /* margin: auto; */
  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 5px;
  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.priceValue {
  /* Font */
  color: var(--marketplaceColor);
  @apply --marketplaceH4FontStyles;
  /* margin: auto; */
  /* Remove default margins from font */
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.perUnit {
  /* Font */
  @apply --marketplaceTinyFontStyles;
  color: var(--matterColor);
  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;
  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.mainInfo {
  display: flex;
  flex-direction: column;
}

.title {
  /* Font */
  @apply --marketplaceH4FontStyles;
  color: var(--matterColor);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  -webkit-line-clamp: 1;
  -moz-box-orient: vertical;
  /* fallback option */
  word-break: break-all;
  /* use break-word if available */
  word-break: break-word;
  hyphens: auto;
  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;
  @media (--viewportLarge) {
    width: 350px;
  }
}

.authorInfo {
  /* Font */
  @apply --marketplaceTinyFontStyles;
  color: var(--matterColor);
  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;
  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.longWord {
  /* fallback option */
  word-break: break-all;
  /* use break-word if available */
  word-break: break-word;
  hyphens: auto;
}