@import '../../styles/propertySets.css';


:root {
    /*
    These variables are available in global scope through ":root"
    element (<html> tag). Variables with the same names are going to
    overwrite each other if CSS Properties' (PostCSS plugin)
    configuration "preserve: true" is used - meaning that variables
    are left to CSS bundle. We are planning to enable it in the future
    since browsers support CSS Properties already.
 */
}

.address {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.formRow {
    /* This container uses flexbox layout */
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* parent aka root is flexbox, this container takes all available space */
    flex-grow: 1;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin: 0 0 24px 0;
    @media (--viewportSmall) {
        flex-wrap: no-wrap;
    }
}

.field {
    width: 100%;
    margin: 5px 0 0 0;
    @media (--viewportSmall) {
        margin: 0;
        width: calc(50% - 12px);
    }
}

.countryLabel {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 6px;
    padding-bottom: 2px;
    line-height: 16px;
    font-size: 14px;
}

.countryValue {
    display: block;
    width: 100%;
    margin: 0;
    padding: 4px 0 2px 0;
    border: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: var(--successColor);
    border-radius: 0;
    line-height: 24px;
    font-size: 16px;
    background-color: lightgrey;
}