{:format :v3
 :transitions
 [
  ;; Enquire
  {:name :transition/enquire
   :actor :actor.role/customer
   :actions []
   :to :state/enquiry}
  ;; Request Payment
  {:name :transition/request-payment
   :actor :actor.role/customer
   :actions
   [{:name :action/privileged-set-line-items}
    {:name :action/stripe-create-payment-intent}]
   :to :state/pending-payment
   :privileged? true}
  ;; Request Payment after Enquiry
  {:name :transition/request-payment-after-enquiry
   :actor :actor.role/customer
   :actions
   [{:name :action/privileged-set-line-items}
    {:name :action/stripe-create-payment-intent}]
   :from :state/enquiry
   :to :state/pending-payment
   :privileged? true}
  ;; Expire Payment
  {:name :transition/expire-payment
   :at
   {:fn/plus
    [{:fn/timepoint [:time/first-entered-state :state/pending-payment]}
     {:fn/period ["PT10M"]}]}
   :actions
   [{:name :action/calculate-full-refund}
    {:name :action/stripe-refund-payment}]
   :from :state/pending-payment
   :to :state/payment-expired}
  ;; Confirm Payment
  {:name :transition/confirm-payment
   :actor :actor.role/customer
   :actions [{:name :action/stripe-confirm-payment-intent}]
   :from :state/pending-payment
   :to :state/preauthorized}
  ;; Accept
  {:name :transition/accept
   :actor :actor.role/provider
   :actions [{:name :action/stripe-capture-payment-intent}]
   :from :state/preauthorized
   :to :state/accepted}
  ;; Decline
  {:name :transition/decline
   :actor :actor.role/provider
   :actions
   [{:name :action/calculate-full-refund}
    {:name :action/stripe-refund-payment}]
   :from :state/preauthorized
   :to :state/declined}
  ;; Expire
  {:name :transition/expire
   :at
   {:fn/min
    [{:fn/plus
      [{:fn/timepoint [:time/first-entered-state :state/preauthorized]}
       {:fn/period ["P6D"]}]}
     {:fn/plus
      [{:fn/timepoint [:time/first-entered-state :state/preauthorized]}
       {:fn/period ["P1D"]}]}]}
   :actions
   [{:name :action/calculate-full-refund}
    {:name :action/stripe-refund-payment}]
   :from :state/preauthorized
   :to :state/declined}
  ;; Complete
  {:name :transition/complete
   :at {:fn/timepoint [:time/first-entered-state :state/accepted]}
   :actions [{:name :action/stripe-create-payout}
             {:name :action/reveal-customer-protected-data
              :config {:key-mapping {:shippingAddress :customerShippingAddress}}}]
   :from :state/accepted
   :to :state/delivered}
  ;; Cancel
  {:name :transition/cancel
   :actor :actor.role/operator
   :actions
   [{:name :action/calculate-full-refund}
    {:name :action/stripe-refund-payment}]
   :from :state/accepted
   :to :state/cancelled}
  ;; Review 1 by Provider
  {:name :transition/review-1-by-provider
   :actor :actor.role/provider
   :actions [{:name :action/post-review-by-provider}]
   :from :state/delivered
   :to :state/reviewed-by-provider}
  ;; Review 2 by Provider
  {:name :transition/review-2-by-provider
   :actor :actor.role/provider
   :actions
   [{:name :action/post-review-by-provider}
    {:name :action/publish-reviews}]
   :from :state/reviewed-by-customer
   :to :state/reviewed}
  ;; Review 1 by customer
  {:name :transition/review-1-by-customer
   :actor :actor.role/customer
   :actions [{:name :action/post-review-by-customer}]
   :from :state/delivered
   :to :state/reviewed-by-customer}
  ;; Review 2 by customer
  {:name :transition/review-2-by-customer
   :actor :actor.role/customer
   :actions
   [{:name :action/post-review-by-customer}
    {:name :action/publish-reviews}]
   :from :state/reviewed-by-provider
   :to :state/reviewed}
  ;; Expire Review Period
  {:name :transition/expire-review-period
   :at
   {:fn/plus
    [{:fn/timepoint [:time/first-entered-state :state/delivered]}
     {:fn/period ["P7D"]}]}
   :actions []
   :from :state/delivered
   :to :state/reviewed}
  ;; Expire Provider Review Period
  {:name :transition/expire-provider-review-period
   :at
   {:fn/plus
    [{:fn/timepoint
      [:time/first-entered-state :state/reviewed-by-customer]}
     {:fn/period ["P7D"]}]}
   :actions [{:name :action/publish-reviews}]
   :from :state/reviewed-by-customer
   :to :state/reviewed}
  ;; Expire Customer Review Period
  {:name :transition/expire-customer-review-period
   :at
   {:fn/plus
    [{:fn/timepoint
      [:time/first-entered-state :state/reviewed-by-provider]}
     {:fn/period ["P7D"]}]}
   :actions [{:name :action/publish-reviews}]
   :from :state/reviewed-by-provider
   :to :state/reviewed}]
 :notifications
 [
  ;; New Booking Request
  {:name :notification/new-booking-request
   :on :transition/confirm-payment
   :to :actor.role/provider
   :template :new-booking-request}
  ;; Booking Request Accepted
  {:name :notification/booking-request-accepted
   :on :transition/accept
   :to :actor.role/customer
   :template :booking-request-accepted}
  ;; Booking Request Declined
  {:name :notification/booking-request-declined
   :on :transition/decline
   :to :actor.role/customer
   :template :booking-request-declined}
  ;; Booking Request Auto Declined
  {:name :notification/booking-request-auto-declined
   :on :transition/expire
   :to :actor.role/customer
   :template :booking-request-auto-declined}
  ;; Money Paid
  {:name :notification/money-paid
   :on :transition/complete
   :to :actor.role/provider
   :template :money-paid}
  ;; Review Period Start Provider
  {:name :notification/review-period-start-provider
   :on :transition/complete
   :to :actor.role/provider
   :template :review-by-provider-wanted}
  ;; Review Period Start Customer
  {:name :notification/review-period-start-customer
   :on :transition/complete
   :to :actor.role/customer
   :template :review-by-customer-wanted}
  ;; Review By Provider First
  {:name :notification/review-by-provider-first
   :on :transition/review-1-by-provider
   :to :actor.role/customer
   :template :review-by-other-party-unpublished}
  ;; Review By Customer First
  {:name :notification/review-by-customer-first
   :on :transition/review-1-by-customer
   :to :actor.role/provider
   :template :review-by-other-party-unpublished}
  ;; Review By Provider Second
  {:name :notification/review-by-provider-second
   :on :transition/review-2-by-provider
   :to :actor.role/customer
   :template :review-by-other-party-published}
  ;; Review By Customer Second
  {:name :notification/review-by-customer-second
   :on :transition/review-2-by-customer
   :to :actor.role/provider
   :template :review-by-other-party-published}]}
