@import '../../marketplace.css';
.staticPageWrapper {
    width: calc(100% - 48px);
    max-width: 1056px;
    margin: 24px auto;
    @media (--viewportMedium) {
        width: calc(100% - 72px);
    }
}

.titleContainer {
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 0 0 15px 0;
    @media (--viewportMedium) {
        margin: 0 0 40px 0;
    }
}

.pageTitle {
    margin: 10px 0 0 0;
}

.pageSubtitleDesktop {
    display: none;
    @media (--viewportMedium) {
        display: initial;
        margin: 5px 0 0 0;
        font-weight: 500;
    }
}

.pageSubtitleMobile {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    margin: 5px 0 0 0;
    font-size: 14px;
    @media (--viewportMedium) {
        display: none;
    }
}

.separator {
    margin: 0 5px 0 5px;
}

.splitScreen {
    display: flex;
    flex-direction: column-reverse;
    @media (--viewportMedium) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.sectionHost {
    width: 100%;
    display: flex;
    flex-direction: column;
    @media (--viewportMedium) {
        width: 40%;
    }
}

.sectionSellers {
    width: 100%;
    display: flex;
    flex-direction: column;
    @media (--viewportMedium) {
        width: 50%;
    }
}

.sellersHeading {
    margin: 0 0 20px 0;
}

.userCardWrapper {
    display: flex;
    flex-direction: row;
    margin: 15px auto 0 auto;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--matterColorAnti);
    @media (--viewportMedium) {
        /* width: 75%; */
        margin: 15px auto 0 0;
    }
    @media (--viewportLarge) {
        /* width: 60%; */
    }
}

.hostImageWrapper {
    width: 100%;
    margin: 0 auto 0 auto;
}

.hostImage {
    width: 100%;
}

.hostInfo {
    width: 100%;
    margin: 0 auto 0 auto;
    @media (--viewportMedium) {
        width: 100%;
        margin: 10px 0;
    }
}

.buttonRow {
    margin: 10px 30px 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.linkButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--marketplaceColor);
    font-weight: normal;
    &:hover {
        text-decoration: none;
        transform: scale(1.05);
    }
}

.linkIcon {
    width: 40px;
    border: none;
}

.shareIcon {
    width: 40px;
}

.shareButton {
    width: 40px;
    padding: 0;
    margin: 0;
    background-color: var(--matterColorLight);
    color: var(--marketplaceColor);
    border: none;
    font-weight: normal;
    &:hover {
        text-decoration: none;
        cursor: pointer;
        transform: scale(1.1);
    }
}