@import '../../marketplace.css';

.staticPageWrapper {
    width: calc(100% - 48px);
    max-width: 1056px;
    margin: 24px auto;
    @media (--viewportMedium) {
        width: calc(100% - 72px);
        margin: 72px auto;
    }
}

.titleContainer {
    width: auto;
    display: flex;
    flex-direction: column;
}

.splitScreen {
    display: flex;
    flex-direction: column-reverse;
    @media (--viewportMedium) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.sectionHost {
    width: 100%;
    display: flex;
    flex-direction: column;
    @media (--viewportMedium) {
        width: 40%;
    }
}

.sectionSellers {
    width: 100%;
    display: flex;
    flex-direction: column;
    @media (--viewportMedium) {
        width: 50%;
    }
}

.userCardWrapper {
    display: flex;
    flex-direction: row;
    margin: 15px auto 0 auto;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--matterColorAnti);
    @media (--viewportMedium) {
        /* width: 75%; */
        margin: 15px auto 0 0;
    }
    @media (--viewportLarge) {
        /* width: 60%; */
    }
}

.hostImageWrapper {
    width: 90%;
    margin: 0 auto 0 auto;
    @media (--viewportMedium) {
        width: 100%;
    }
}

.hostImage {
    width: 100%;
}

.hostInfo {
    width: 100%;
    margin: 0 auto 0 auto;
    @media (--viewportMedium) {
        width: 100%;
        margin: 10px 0;
    }
}

.hostInfoRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--matterColorNegative);
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
}

.directionsLink{
    width: 60%;
}

.buttonRow {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px 0 10px 0;
  }
  
  .linkButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--marketplaceColor);
    font-weight: normal;
    &:hover {
      text-decoration: none;
      transform: scale(1.05);
    }
  }
  
  .linkIcon {
    width: 40px;
    border: none;
  }
  
  .shareIcon {
    width: 40px;
  }
  
  .shareButton {
    width: 40px;
    padding: 0;
    margin: 0;
    background-color: var(--matterColorLight);
    color: var(--marketplaceColor);
    border: none;
    font-weight: normal;
    &:hover {
      text-decoration: none;
      cursor: pointer;
      transform: scale(1.1);
    }
  }