@import '../../styles/propertySets.css';

.heading {
  margin: 0 0 20px 0;
  @apply --marketplaceH1FontStyles;
}

.subHeading {
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 20px 0;
  @media (--viewportMedium) {
    font-size: 25px;
    line-height: 30px;
  }
}

.partnerCard {
  display: flex;
  flex-direction: column;
  @media (--viewportMedium) {
    flex-direction: row;
  }
}

.partnerText {
  margin: 50px 0;
  @media (--viewportMedium) {
    margin: 50px 100px 0 0;
  }
}

.imageWrapper {
  display: none;
  @media (--viewportMedium) {
    display: initial;
    width: 33%;
    height: 33%;
    margin: 10px 25px 10px 10px;
    flex-shrink: 0;
    border-radius: 10px;
    transition: var(--transitionStyleButton);
  }
  &:hover {
    transform: scale(1.02);
    box-shadow: var(--boxShadowSectionLocationHover);
  }
}

.mobileImageWrapper {
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 0;
  transition: var(--transitionStyleButton);
  @media (--viewportMedium) {
    display: none;
  }
}

.image {
  /* Layout - image will take space defined by aspect ratio wrapper */
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.text {
  @apply --marketplaceH4FontStyles;
  margin: 0 0 30px 0;
}

.chevron {
  width: 50px;
  cursor: pointer;
  transform: scale(1.02);
}

.forwardButtonDesktop {
  display: none;
  @media (--viewportMedium) {
    display: initial;
    border: none;
    margin: 0 0 0 15px;
  }
}

.backButtonDesktop {
  display: none;
  @media (--viewportMedium) {
    display: initial;
    border: none;
    margin: 0 15px 0 0;
  }
}

.forwardButton {
  display: initial;
  border: none;
  margin: 0 0 0 10px;
  padding: 0;
  @media (--viewportMedium) {
    display: none;
  }
}

.backButton {
  display: initial;
  border: none;
  margin: 0 10px 0 0;
  padding: 0;
  @media (--viewportMedium) {
    display: none;
  }
}