@import '../../styles/propertySets.css';

:root {
    /*
    These variables are available in global scope through ":root"
    element (<html> tag). Variables with the same names are going to
    overwrite each other if CSS Properties' (PostCSS plugin)
    configuration "preserve: true" is used - meaning that variables
    are left to CSS bundle. We are planning to enable it in the future
    since browsers support CSS Properties already.
 */
    --ContactDetailsForm_infoText: {
        @apply --marketplaceH4FontStyles;
        color: var(--successColor);
        display: inline-block;
        padding-left: 18px;
        background-repeat: no-repeat;
        background-position: top 7px left;
        margin-top: 11px;
        margin-bottom: 0;
        @media (--viewportMedium) {
            margin-top: 14px;
            margin-bottom: 1px;
        }
    }
}

.formRow {
    /* This container uses flexbox layout */
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* parent aka root is flexbox, this container takes all available space */
    flex-grow: 1;
    flex-shrink: 0;
    flex-wrap: wrap;
    @media (--viewportSmall) {
        flex-wrap: no-wrap;
    }
}

.firstName {
    width: 35%;
    margin-top: 24px;
    @media (--viewportMedium) {
        width: 40%;
    }
}

.lastName {
    width: 55%;
    margin-top: 24px;
}

.field {
    width: 100%;
    margin-top: 24px;
}

.error {
    @apply --marketplaceH4FontStyles;
    color: var(--failColor);
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 24px 0;
    @media (--viewportMedium) {
        margin: 24px 0;
    }
}

.submitButton {
    padding-top: 6px;
    width: 100%;
    margin: 16px auto 30px auto;
    @media (--viewportMedium) {
        padding-top: 0;
        width: 70%;
    }
}

.inputs {
    margin-bottom: 60px;
}