.root {
  /* Dimensions */
  width: 100%;
  height: auto;

  /* Layout */
  display: flex;
  flex: 1;
  flex-direction: column;

  padding-top: 1px;

  @media (--viewportMedium) {
    padding-top: 2px;
  }
}

.error {
  color: var(--failColor);
}

.formMargins {
  margin-bottom: 24px;

  @media (--viewportMedium) {
    margin-bottom: 32px;
  }
}

.title {
  composes: formMargins;
}

.description {
  composes: formMargins;
  flex-shrink: 0;
}

.category {
  composes: formMargins;
}

.submitButton {
  margin-top: auto;
  margin-bottom: 24px;
  flex-shrink: 0;

  @media (--viewportLarge) {
    display: inline-block;
    width: 241px;
    margin-top: 100px;
  }
}

.checkTitle {
  @media (--viewportLarge) {
    margin-bottom: 0px;
  }
}

.checkBoxes {
  @media (--viewportLarge) {
    display: flex;
    flex-direction: row;
  }
}

.region {
  @media (--viewportLarge) {
    min-width: 30%;
    display: flex;
    flex-direction: column;
  }
}

.material {
  @media (--viewportLarge) {
    margin-left: 50px;
    min-width: 30%;
    display: flex;
    flex-direction: column;
  }
}

.style {
  @media (--viewportLarge) {
    margin-left: 50px;
    margin-top: 0px;
    min-width: 30%;
    display: flex;
    flex-direction: column;
  }
  margin-bottom: 25px;
}

.barterSection {
  margin: 15px 0 20px 0;
}

.barterCheckbox {
  @media (--viewportLarge) {
    display: block;
    margin-top: 10px;
    width: 80%;
  }
}

.barter {
  @apply --EditListingDescriptionForm_formMargins;
  flex-shrink: 0;
  margin-top: 20px;
}

.optionalHeader {
  border-left: 5px solid;
  border-left-color: var(--marketplaceColor);
  padding-left: 5px;
  margin-top: 60px;
  margin-bottom: 0;
  font-size: 30px;
}

.sizesAndCustom {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  @media (--viewportMedium) {
    flex-direction: row;
    margin-top: 25px;
    justify-content: space-between;
  }
}

.lastRow {
  display: flex;
  flex-direction: column;
}