.root {
  /* Dimensions */
  width: 100%;
  height: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  @media (--viewportMedium) {
    padding-top: 2px;
  }
}

.error {
  color: var(--failColor);
}

.priceInput {
  flex-shrink: 0;
  width: 100%;
  margin-top: 20px;
}

.submitButton {
  margin-top: 35px;
  margin-bottom: 24px;
  @media (--viewportLarge) {
    display: inline-block;
    width: 241px;
    margin-top: 50px;
  }
}

.columns {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media (--viewportMedium) {
    width: 75%;
    flex-direction: row;
  }
}

.priceAndQuantityFieldContainer {
  display: flex;
  flex-direction: column;
  margin: 0 0 60px 0;
  width: 100%;
  @media (--viewportMedium) {
    flex-direction: row;
  }
}

.priceField {
  @media (--viewportMedium) {
    width: 48%;
  }
}

.quantityField {
  margin-top: 20px;
  @media (--viewportMedium) {
    margin: 0 0 0 auto;
    width: 48%;
  }
}

.internationalFeeSection {
  margin-top: 20px;
}

.internationalFeeField {
  margin-top: 20px;
}

.instructionsShown {
  max-height: 2000px;
  margin: 0 auto;
  transition: max-height .3s ease-in;
}

.instructionsHidden {
  max-height: 0;
  margin: 0 auto;
  overflow: hidden;
  transition: max-height .3s ease-out;
}

.instructionsText {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}